<div class="tabs">
  <ul>
    <% tabs.each do |tab| -%>
        <% if tab[:label] == 'index' %>
            <% tab_label = l(:label_all_tables) %>
        <% else %>
            <% tab_label = tab[:label] %>
        <% end %>
        <li><%= link_to tab_label, tab[:path] || custom_table_path(id: tab[:table_id]), id: "tab-#{tab[:name]}", class: (tab[:name] != selected_tab ? nil : 'selected') %></li>
    <% end -%>

  </ul>
  <div class="tabs-buttons" style="display:none;">
    <button class="tab-left" type="button" onclick="moveTabLeft(this);"></button>
    <button class="tab-right" type="button" onclick="moveTabRight(this);"></button>
  </div>
</div>
<% if @custom_entities %>
    <% current_tab = tabs.select {|t| t[:name] == selected_tab}.first %>
    <%= render(partial: current_tab[params[:action].to_sym], locals: {tab: current_tab}) %>
<% end %>

